.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color:white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 5px ;
  border-bottom-right-radius: 5px;
  z-index: 1000;

}
.right{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.right p,button{
  margin: 45px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
}
.right button{
  height: 50px;
  width: 80px;
  background-color:rgba(214, 45, 45, 0.6);
  border-radius: 4px;
  font-weight: 700;
}
.left{
  font-size: 35px;
  font-family: Montserrat;
  margin-left: 50px;
  font-weight: 500;
}
.a1,.a2,.a3{
    text-decoration: none;
    color: inherit;
}
.a1.active,.a2.active,.a3.active{
  border-bottom: 2px solid black;
}